<h1>Editing Task</h1>
<<<<<<< HEAD
<div class="jumbotron">
=======
<%= t('view.sample') %>
>>>>>>> 525b2e8aa3b2f2ebae641c48107b2801aee86846
<%= render 'form', task: @task %>
<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
</div>
